/* common styles */
*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.btn-primary{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: 0;
    transition: background-color .2s ease-in;
}
.btn-primary:hover{
    cursor: pointer;
    background-color: rgb(179, 38, 38);
}
.section-title{
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}


/* navbar section styles */

.menu-container{
    background-color: #222121;
    padding: 20px 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    width: 180px;
}
.menus{
    display: flex;
    gap: 20px;
}
.menus li{
    list-style: none;
    font-size: 18px;
    cursor: pointer;
}
.menus li:hover{
    color: blue;
}

/* banner section styles */
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url(../images/background.png), linear-gradient(45deg, #000, #383636);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-text{
    color: white;
}
.banner-text-title{
    font-weight: bold;
    font-size: 55px;
}
.banner-text-description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.banner-image, .about-us-image{
    width: 300px;
}

/* about us section styles */
.about-us-main-container{
    padding: 25px 0;
}
.about-us-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us-title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
}
#about-us-btn{
    margin-top: 15px;
}